 body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-image: url(Image\ collée.png);
            background-size: cover;
            background-position: center;
        }

        /* ---- Header ---- */
        header {
            display: flex;
            justify-content: space-between;
            padding: 10px 10px ;
            align-items: center;
            gap: 300px;
            border-bottom: 2px solid #ccc;
        }

        header img {
            align-self: start;
            margin-left: 10px;
            width: 120px;
            border-radius: 5px;
        }

        nav {
            display: flex;
            background: linear-gradient(to right, #000596, red);
            border-radius: 15px;
            width: 50%;
            height: 40px;
            gap: 5% ;
            margin-right: 10px;
            font-size:120%;
            font-weight: bolder;
            align-items: center;
        }

        nav a {
            text-decoration: none;
            font-weight: bold;
            padding: 10px 20px ;
            border-radius: 10px;
            color: white ;
            font-weight: bolder;
            font-family: 'Times New Roman', Times, serif ;
            font-size: 120%;
            padding: 15px auto  ;
        }

        nav a:hover {
            opacity: 0.8;
        }

        /* ---- Corps principal ---- */
        main {
            display: flex;
            justify-content: space-between;
            padding: 20px 0px;
        }

        /* ---- Menu latéral ---- */
        .menu-vertical{
            background: linear-gradient(to bottom, rgb(0, 0, 158), red);
            display: flex;
            flex-direction: column;
            align-items: left;
            justify-content: center;
            gap: 97px ;
            padding: 30px 5px ;
            border-radius: 0px 10px 10px  0 ;
            transition: all 0.1s ;
            height: 720px ;
        }

        span.icones {
            display: flex;
            gap: 10px ;
            align-items: center ;
            font-size: larger ;
            color: white ;
            justify-content: left;
            margin-top: 17px ;
            margin-bottom: 17px;
            font-weight: 1000;
        }
        span.type_icon {
            display: none ;
        }
        span.type_icon:hover {
            cursor:pointer;
            color: #ccc;
            transform: scale(1.1);
        }
        ul {
            display: none;
            color: white ;
            list-style: none ;
            margin: 25px auto ;
            flex-direction: column;
            gap: 12px ;
        }
        ul li {
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-weight: 1000;
            letter-spacing: 1px ;
            transition: all 0.3s ease-in-out;
        }

        ul li:hover {
            transform: translateY(-1px );
            cursor: pointer;
            transform: scale(0.95);
            color: #ccc;
        }
   
        /* ---- Section centrale ---- */

        div.images {
            margin-top: 20px ;
            margin-bottom: 20px ;
            width: 55%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
            justify-items: center;
            margin-right: 90px ;

        }

        .images img , .images_horizontaux img{
            width: 440px;
            height: 220px;
            object-fit: cover;
            border-radius: 10px;
            box-shadow: 0px 0px 6px rgba(0,0,0,0.3);
        }

        div.images_horizontaux {
            display: flex;
            margin: 30px auto;
            padding: 0px 20px ;
            gap: 30px ;
        }
        .images_horizontaux img {
            width: 460px;
            height: 250px ;
        }

        img:hover {
            opacity: 0.8;
        }
        /* ---- Encadrement droit vide ---- */
        .aside {
            display: flex ;
            flex-direction: column ;
            justify-content: center;
            align-items: center;
            width: 355px;
            box-shadow: 0px 0px 6px rgba(0,0,0,0.7);
            height: 720px;
        }
        video {
            margin: 20px auto;
            width: 300px ;
            height: 300px ;
            object-fit: cover;
            box-shadow: 0px 0px 6px rgba(0,0,0,0.7);

        }
        div.bloc_nouveautes {
            display: flex ;
            flex-direction: column;
            align-items: center;
            width: 350px ;
            padding: 20px auto;
            border: rgb(221, 220, 220) solid;
            margin-top: 20px ;
            font-family:"Averia Serif Libre", serif; 
            font-weight: bolder;
        }
         a#click {
            text-align: center;
            margin: auto auto;
        }
        div.centre_news {
            display: flex ;
            flex-direction: column;
        }
        div.titre_date{
            display: flex ;
            justify-content: space-between;
            font-weight: bolder;
        }
        div.news_div {
            width: 900px ;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            margin: 10px auto ;
            border-radius: 10px;
            text-align: left;
            padding : 10px 10px ;
            font-size: 100%;
            font-family:"Averia Serif Libre", serif; 
        }
        div#conn_inscrip {
            width: 350px;
            display: flex;
            justify-content: space-around;
            text-decoration: none ;
            margin: 10px auto ;
            padding: 10px auto ;
        }

        a#conn {
            background-color: rgb(1, 1, 72);
            width: 150px;
            height: 50px;
            border-radius: 5px ;
            color: white;
            text-decoration: none ;
            text-align: center;
            line-height: 50px ;
            transition: all 0.5s ease;
            font-weight: 1000 ;

        }
        a#conn:hover , a#insc:hover {
            transform: scale(1.03);
        }
        a#insc {
            background-color: rgb(226, 185, 2);
            width: 150px;
            height: 50px;
            border-radius: 5px ;
            color: white;
            text-decoration: none ;
            text-align: center;
            line-height: 50px ;
            transition: all 0.5s ease ;
            font-weight: 1000 ; 
        }
                ul li a , a {
            text-decoration: none ;
            color: white ;
        }
        ul li a:hover {
            color: #ccc;
        }