
.centre_page {
    width: 100%;
    max-width: 900px;
    max-height: 800px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 15px;

}

.centre_page iframe {
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 15px;
}
