section#center_page {
    position: relative;
    height:550px;
    display: flex ;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    margin-top: 20px;
    gap: 10%;
    font-family:'Times New Roman', Times, serif;
    width: 1000px;

}
div#message{
    width: 40%;
}
h1#let_start{
    font-size: 150%;
    text-align: center;
    margin:0px ; 
}
h1#GIT {
    color: Blue ; 
    font-size: 350%;
    text-align: center;
    margin: 10px 10px;
    font-style: italic;
    overflow: hidden;
    white-space: nowrap;
    max-width: fit-content;
    animation: typing_git 3s steps(16,end) infinite alternate-reverse;
}
@keyframes typing_git {
    0% { width: 0ch; }
    50% { width: 16ch; }
    100% { width: 16ch; }
}

div#contact_icone{
    padding-left: 27%;
    padding-right: 20%;
    display: flex ;
    gap:15% ;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}
a.logo_contact{
    border-radius: 50px;
    color:white ;
    font-size: xx-large;
}
a.logo_contact:hover {
      color: blue; 
      transform: scale(1.3);
      animation: none ;
}
span#form_contact {
    background-color: white ;
    width: 60%;
    height: 30px;
    white-space: nowrap;
    font-weight: 800;
    position: absolute ;
    top: -10px;
    margin: 0px auto; 
    border-radius: 0px 0px 10px 10px;   
}
input, textarea{
    margin: 18px auto ;
    width: 400px; 
    height: 50px ;
    font-size: 100%;
    border: none;
    color: white ;
    padding-left: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-bottom: 2px solid black;
    background-color: transparent;
} 
form {
    margin-top: 20px;
    height: 690px;

}
div#formulaire {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    width: 50%;
    height: 500px;
    margin-right: 50px;
    padding-top: 20px;

    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri;
    font-weight: 100;
    font-size: 140%;

    border-radius: 40px;
    overflow: hidden; /* important pour éviter débordement du flou */
}

/* Pseudo-élément pour flouter seulement le background */
div#formulaire::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("../images/image_formulaire.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    filter: blur(3px); /* ajuste le flou ici */
    transform: scale(1.1); /* évite les bords visibles avec le flou */
    z-index: -1;
}

input:focus , textarea:focus {
    outline: none;
}

input#genre {
    width: 20px;
    height: 20px;
}
p.sexe {
    font-size: 80%;
    display: inline ;
    transition: font-size 0.5s ease ;
}
p.sexe:hover {
    font-size: x-large;
}
input#submit {
    font-size: 120%;
    font-family: cursive;
    font-weight: 1000;
    height: 45px;
    background-color: rgb(0, 0, 123) ;
    color: white;
    width: 230px;
    border: none ;
    border-radius: 20px;
    margin-top: 0px;
    transition: all 0.5s ease ;
}
input#submit:hover {
    width: 270px ;
    font-size: 150%;
}
label{
    position:absolute ;
    text-align: left;
    color:white ;
    font-weight: bolder;
    top: 35px;
    left: 5px ;
    transition : all 0.3s ease ;
    

}
label.messag {
    position: absolute ;
    top:60px ;
    left: 5px;
    transition: all 0.5s ease ;
}
textarea:focus + label,
textarea:not(:placeholder-shown) + label  {
    transform: translateY(-70px); 
    font-size: 95%;
    color: rgb(232, 228, 228) ;
}
input:focus + label,
input:not(:placeholder-shown) + label  {
  transform: translateY(-40px); 
  font-size: 95%;
  color: rgb(234, 231, 231)
}
div.alert {
    position: absolute ;
    top:30px ;
    left:20px ;
    font-size: 70%;
    width: 90% ;
    padding: 5px 15px 5px 15px;
    border-radius: 20px 20px 20px 20px;
    color: white;
    transition: opacity 1s;
    z-index: 100;
}
div.alert.fade-out {
    opacity: 0 ;
}
span.close_alert {
    position: absolute;
    top: 5px ;
    right: 9px;
    font-size: 150%;
    font-weight: bolder;
    cursor: pointer;
    color: white;
}
.alert.success {
    background-color: rgb(22, 138, 22);
;
}
.alert.fail {
    background-color: rgb(238, 32, 32) ;
}
