
    * { box-sizing: border-box; margin: 0; padding: 0; }

    body {
      font-family: system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
    }


    .page {
      max-width: 80%;
      margin: 24px 15px;
      padding: 28px;
      background: #fff;
      border-radius: 6px;
      /*box-shadow: 0 8px 18px rgba(0,0,0,0.06);*/
      flex-grow: 1;
    }
    

    /* --- Disposition du haut : image à gauche, texte à droite --- */
    .top-row {
      display: flex;
      gap: 20px;
      align-items: flex-start;
      margin-bottom: 24px;
    }

   .top-row img {
      width: auto;
      height: 500px;
      object-fit: cover;
      border-radius: 15px;
    }
    .bottom-image {
      display: flex;
      gap: 20px;
      align-items: flex-start;
      margin-bottom: 24px;
    }

   .bottom-image img {
      width: auto;
      height: auto;
      object-fit: cover;
      border: 4px solid ;
      border-radius: 4px;
      border-image: linear-gradient(45deg, red,blue) 1; /* dégradé */
      max-width: 100%;
      display: block;
    }

    h1 {
    font-size: 1.4rem;
    margin-bottom: 12px;
    display: inline-block; /* important pour que l'underline ne prenne que la largeur du texte */
    position: relative;
    background: linear-gradient(to right, red, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px; /* distance entre le texte et la ligne */
    width: 100%;
    height: 3px; /* épaisseur de la ligne */
    background: linear-gradient(to right, red, blue); /* même dégradé que le texte */
    border-radius: 2px; /* pour arrondir légèrement les bords */
}


    .top-text h2 {
      font-size: 1.05rem;
      font-weight: 500;
      margin-bottom: 8px;
      color: #555;
    }

    .top-text p {
      font-size: 0.98rem;
      line-height: 1.5;
    }

    /* Deux lignes larges (paragraphe séparé) */
    .middle-text {
      margin: 16px 0 26px;
      font-size: 0.98rem;
      line-height: 1.6;
    }

    
    @media (max-width: 640px) {
      .top-row {
        flex-direction: column;
        align-items: flex-start;
      }
     
      }

