/* Général */
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: #fff;
}

/* Conteneur du formulaire */
#formulaire {
    position: relative;
    background: #fff;
    padding: 30px 25px;
    border-radius: 12px;
    width: 750px ;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    margin: 50px 30px;
    display: flex;
    justify-content: space-between;
    height: 500px;
    gap: 20px;
}

div#newsLetter{
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;

}
#form_contact {
    display: block;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

/* Champs input et labels */
#formulaire div {
    position: relative;
    width: 400px;
    margin: 0 auto;
    margin-bottom: 25px;

}

#formulaire input[type="text"],
#formulaire input[type="password"] {
    width: 100%;
    padding: 12px 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 100%;
    background: none;
    width: 350px;
    margin: 0 auto;
    margin-left: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#formulaire input:focus {
    outline: 1px solid rgb(0, 51, 255)
}

#formulaire label {
    position: absolute;
    top: 12px;
    left: 10px;
    color: #777;
    font-size: 19px;
    pointer-events: none;
    transition: 0.3s;
    margin-left: 15px;
}

/* Animation flottante pour les labels */
#formulaire input:focus + label,
#formulaire input:not(:placeholder-shown) + label {
    top: -10px;
    left: 5px;
    font-size: 16px;
    color: #007bff;
    background: #fff;
    padding: 0 5px;
}

/* Bouton submit */
#submit {
    width: 250px;
    padding: 12px;
    margin: 0 auto ;
    border-radius: 8px;
    border: none;
    background: #0044ff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    margin-left: 80px;
}

#submit:hover {
    background: #001498;
}

div.alert {
    position: absolute ;
    top:0px ;
    right: 0px;
    background-color:bisque;
    font-size: 140%;
    border-radius: 10px;
    color: white;
    transition: opacity 1s;
    padding: 5px 15px;
}
div.alert.fade-out {
    opacity: 0 ;
}
span.close_alert {
    position: absolute;
    top: -5px ;
    right: 15px;
    font-size: 140%;
    font-weight: bolder;
    cursor: pointer;
    color: white;
    transition: all 0.3s;
}
span.close_alert:hover{
    transform: rotate(90deg);
    color: #333;
}
.alert.success {
    background-color: rgb(22, 138, 22);


;
}
.alert.fail {
    background-color: rgb(238, 32, 32) ;
}